# Python virtual environment
booking_system_backend/.venv/

# Log files
*.log
booking_system_backend/jobs/logs/

# Python cache
__pycache__/
*.pyc

# SQLite DB
*.db

# Debug scripts
observability/debug_query.py
